.mainContainerCheckout {
    background: #E4ECE5;
    text-align: center;
    width: 80%;
    padding-top: 100px;
    height: 100vh; 
    margin: 0 auto; 
}

.formLabelCheckout {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #244242;
    margin-top: 10px;
}

.especificacionesEnvioCheckout {
    font-family: 'Inter', sans-serif;    
    color: #244242; 
    height: 150px;
    resize: none;
}

.titleCheckout{
    font-family: 'Inter', sans-serif;    
    color: #244242; 
    font-weight: bold; 
    font-size: 30px;
}

.buttonCheckout {
    text-align: center;
    font-family: 'Inter', sans-serif;    
    background: transparent;
    border: 5px solid #83AF4B;
    border-radius: 31px;
    color: #83AF4B; 
    font-weight: bold; 
}
  
.buttonCheckout:hover {
    color: #244242;
    border: 5px solid #244242;
    background: transparent;
  }

.highContrast .mainContainerCheckout {
    background: #000;
    color: #FFF;
}

.highContrast .formLabelCheckout {
    color: #FFD700;
}

.highContrast .especificacionesEnvioCheckout {
    background-color: #333;
    color: #FFF;
    border: 2px solid #FFD700;
}

.highContrast .titleCheckout {
    color: #FFD700;
}

.highContrast .buttonCheckout {
    background-color: #333;
    color: #FFD700;
    border: 5px solid #FFD700;
}

.highContrast .buttonCheckout:hover {
    color: #FFD700;
    background-color: #000;
    border: 5px solid #FFA500;
}