.EntrepreneurProfileContainer {
  background: #E4ECE5;
  text-align: center;
  width: 80%;
  padding-top: 50px; 
  padding-left: 50px; 
  padding-right: 50px; 
  min-height: 100vh;
  margin: 0 auto;
  transition: background-color 0.3s, padding-top 0.2s;
}

.profileCard {
  background-color: #f4f4f4;
  border-radius: 20px;
  padding: 20px;
  width: 1000px; 
  max-width: 95%;
  margin: 20px auto; 
  transition: background-color 0.3s ease, box-shadow 0.3s ease-in-out;
  text-align: left;
}


.profileCard:hover {
  box-shadow: 0 8px 16px rgba(0,0,0,0.15); 
}

.nameEntrepreneurProfile {
  font-weight: bold;
  color: #244242;
  transition: color 0.2s ease;
}

.nameEntrepreneurProfile:hover {
  color: #83AF4B; 
}

.descEntrepreneurProfile {
  background-color: #83AF4B;
  color: #ffffff;
  padding: 10px;
  border-radius: 10px;
  font-size: 16px;
  transition: background-color 0.2s ease; 
}

.descEntrepreneurProfile:hover {
  background-color: #6e9440; 
}

.titleEntrepreneurProfile {
  font-size: 24px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: margin-bottom 0.2s ease; 
}

.productGrid {
  display: flex;
  flex-wrap: wrap;
}

.productGrid .card {
  width: 100%;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease-in-out; 
}

.productGrid .card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0,0,0,0.12);
}

.imgItemEntrepreneurProfile {
  min-height: 50px;
  min-width: 50px;
  max-width: 200px; 
  max-height: 200px; 
  display: block;
  margin: auto;
  border-radius: 10%; 
  transition: transform 0.3s ease; 
}

.imgItemEntrepreneurProfile:hover {
  transform: scale(1.1); 
}

.editButton, .deleteButton {
  font-family: 'Inter', sans-serif;
  background-color: transparent; 
  border: 3px solid; 
  border-radius: 20px;
  color: #83AF4B;
  margin: 5px;
  padding: 8px 16px;
  transition: all 0.3s ease;
}

.editButton {
  border-color: #83AF4B;
}

.editButton:hover {
  color: #E4ECE5;
  background-color: #244242; 
  border-color: #E4ECE5;
}

.deleteButton {
  border-color: #d9534f;
  color: #d9534f;
}

.deleteButton:hover {
  background-color: #d9534f; 
  color: white;
}

.footerButton {
  text-align: center;
  font-family: 'Inter', sans-serif;
  background-color: transparent; 
  border: 3px solid #83AF4B; 
  border-radius: 20px; 
  color: #83AF4B; 
  margin: left;
  font-weight: bold; 
  padding: 8px 16px; 
  transition: all 0.3s ease; 
}

.footerButton:hover {
  color: #E4ECE5;
  background-color: #244242; 
  border-color: #E4ECE5; 
}