.EntreprenerurProfilecontainer{
  text-align: center;
  width: 80%;
  padding-top: 100px;
  height: 100vh; 
  margin: 0 auto;  
}

.descEntrepreneurProfile{
  font-family: 'Inter', sans-serif;    
  color: #E4ECE5; 
  background-color: #83AF4B;
  border-radius: 30px;
  height: auto;
}

.nameEntrepreneurProfile{
  font-family: 'Inter', sans-serif;    
  color: #244242; 
}

.titleEntrepreneurProfile{
  margin-top: 35px;
  font-family: 'Inter', sans-serif;    
  color: #244242; 
}

.EntreprenerurProfileProducts{ 
  display: flex;
  justify-content: space-around; 
  flex-wrap: wrap;               
  margin-top: 50px;
  background: #E4ECE5;
  padding-bottom: 100px;   
  min-height: calc(40vh);
  border-radius: 15px;
}

.textItemEntrepreneurProfile {
  font-family: 'Inter', sans-serif;
  color: #244242;
  font-weight: bold;
  text-align: left;
  overflow: hidden;           
  text-overflow: ellipsis;   
  white-space: nowrap; 
}
.imgItemEntrepreneurProfile {
  max-width: 175px; 
  height: auto; 
  border-radius: 10px;
}
.itemContainerEntrepreneurProfile {
  display: flex;
  flex-direction: column;
  align-items: center; 
  padding: 16px;
}

.horizontalWrapperEntrepreneurProfile {
  display: flex;  
  flex-direction: row; 
  margin: auto;
  max-width: 90%;
  flex-wrap: wrap;  
}

.horizontalWrapperEntrepreneurProfile > * {
  flex-shrink: 0;  
  min-width: 100px; 
  white-space: normal; 
}