.loginContainerRegisterClient {
  background: #E4ECE5;
  text-align: center;
  width: 80%;
  height: 100vh; 
  margin: 0 auto; 
  display: grid;
  place-items: center;
  padding: 0 20px; 
}

.rowsRegisterClient {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.iniciarSesionRegisterClient {
  font-family: 'Inter', sans-serif;
  color: #244242; 
  margin-bottom: 20px;
  font-size: 30px; 
}

.formContainerRegisterClient {
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.inputsRegisterClient {
  font-family: 'Inter', sans-serif;
  padding: 12px; 
  text-align: center;
  border-radius: 20px;
  margin-bottom: 20px;
  width: 80%; 
  max-width: 700px;
  outline: none; 
}

.inputsRegisterClient:focus {
  border-color: #83AF4B; 
  box-shadow: 0 0 8px #83AF4B; 
}

.botonTransparenteRegisterClient {
  text-align: center;
  font-family: 'Inter', sans-serif;
  background: transparent;
  border: 3px solid #244242; 
  border-radius: 20px;
  padding: 10px 20px; 
  margin-top: 20px;
  width: 50%; 
  cursor: pointer;
  color: #244242;
  font-weight: bold;
}

.botonTransparenteRegisterClient:hover, .botonTransparenteRegisterClient:focus {
  color: #E4ECE5; 
  background-color: #244242; 
  border-color: #83AF4B; 
}


.highContrast .loginContainerRegisterClient {
  background: #000; 
  color: #fff; 
}

.highContrast .rowsRegisterClient {
  color: #fff;
}

.highContrast .iniciarSesionRegisterClient {
  color: #FFD700; 
}

.highContrast .formContainerRegisterClient {
  border-color: #fff; 
}

.highContrast .inputsRegisterClient {
  background: #333; 
  color: #fff; 
  border: 2px solid #FFD700; 
}

.highContrast .inputsRegisterClient:focus {
  border-color: #FFA500; 
  box-shadow: 0 0 8px #FFA500; 
}

.highContrast .botonTransparenteRegisterClient {
  color: #FFD700; 
  border-color: #FFD700; 
  background: #333; 
}

.highContrast .botonTransparenteRegisterClient:hover, .highContrast .botonTransparenteRegisterClient:focus {
  color: #000; 
  background: #FFD700; 
  border-color: #000; 
}
