.mainContainerCart {
    background: #E4ECE5;
    text-align: center;
    width: 80%;
    padding-top: 150px;
    height: 100vh; 
    margin: 0 auto; 
    display: grid;
}
.buttonCart {
    text-align: center;
    font-family: 'Inter', sans-serif;    
    background-color: transparent; 
    border: 5px solid #244242;
    border-radius: 31px;
    color: #244242; 
    margin: 0 auto;
    font-weight: bold; 
}
  

.buttonCart:hover {
    color: #83AF4B;
    border: 5px solid #83AF4B;
    background: transparent;
}

.textCartItem{
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #244242;
    height:50%;
    text-align:left;
}