.mainContainerCart {
    background: #E4ECE5;
    text-align: center;
    width: 80%;
    padding-top: 100px;
    min-height: 1000px;
    height: auto; 
    margin: 0 auto; 
    padding-bottom: 50px; 
}

.titleCart {
    color: #244242;
    font-size: 24px; 
}

.cartItem {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 20px; 
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
}

.imgProductoCart {
    width: 100%; 
    max-width: 150px;
    height: auto;
    border-radius: 5px;
}

.textCartItem {
    font-family: 'Inter', sans-serif;
    color: #244242;
    font-weight: bold;
    margin: 5px 0; 
}

.buttonCart {
    background-color: #244242;
    color: white;
    border-radius: 20px; 
    padding: 12px 36px; 
    font-size: 18px; 
    font-weight: bold;
    margin-top: 20px;
    cursor: pointer; 
    border: none; 
    display: block; 
    width: 50%; 
    margin: 20px auto; 
}

.buttonCart:hover, .buttonCart:focus {
    background-color: #83AF4B;
    border-color: #83AF4B; 
    outline: none; 
    box-shadow: 0 0 10px #83AF4B; 
}

.deleteButton img {
    width: 25px; 
    cursor: pointer; 
}

.deleteButton:focus, .deleteButton:hover {
    outline: none; 
    box-shadow: 0 0 8px red; 
}

.highContrast .mainContainerCart {
    background: #000;
    color: #FFF;
}

.highContrast .titleCart {
    color: #FFD700;
}

.highContrast .cartItem {
    background-color: #333;
    color: #FFF;
    border: 2px solid #FFD700;
}

.highContrast .imgProductoCart {
    border: 3px solid #FFD700;
}

.highContrast .textCartItem {
    color: #FFD700;
}

.highContrast .buttonCart {
    background-color: #333;
    color: #FFD700;
    border: 2px solid #FFD700;
}

.highContrast .buttonCart:hover,
.highContrast .buttonCart:focus {
    background-color: #FFD700;
    color: #000;
    border-color: #000;
    box-shadow: 0 0 10px #FFA500;
}

.highContrast .deleteButton img {
    filter: invert(100%);
}

.highContrast .deleteButton:focus,
.highContrast .deleteButton:hover {
    box-shadow: 0 0 8px #FF6347;
}
