.mainContainerCart {
    background: #E4ECE5;
    text-align: center;
    width: 80%;
    padding-top: 100px;
    height: 100vh; 
    margin: 0 auto; 
}

.titleCart {
    color: #244242;
}

.cartItem {
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: white;
}

.imgProductoCart {
    max-width: 150px;
    max-height: 250px;

    min-height: 150px;
    min-width: 100px;

    height: auto;
    border-radius: 5px;
}

.textCartItem {
    font-family: 'Inter', sans-serif;
    color: #244242;
    font-weight: bold;
}

.buttonCart {
    background-color: #244242;
    color: white;
    border-radius: 31px;
    padding: 10px 30px;
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
}

.buttonCart:hover {
    background-color: #83AF4B;
    border-color: #83AF4B;
}

.deleteButton img {
    width: 25px;
}
