.registrationContainer {
  background: #E4ECE5;
  text-align: center;
  width: 80%;
  height: 100vh; 
  margin: 0 auto; 
  display: grid;
  place-items: center;
}

.iniciarSesionEntrepreneurRegistration {
  font-family: 'Inter', sans-serif;
  color: #244242;
  margin-bottom: 20px;
}

.Form.Control {
width: 300%;
}

.rowsRegisterEntrepreneur {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.inputsEntrepreneurRegistration {
  font-family: 'Inter', sans-serif;
  padding: 5px;
  text-align: center;
  border-radius: 20px;
  margin-bottom: 20px;
  width: 450px;
  place-items: center;
  border: none;
}
.taEntrepreneurRegistration{
  font-family: 'Inter', sans-serif;
  padding: 5px;
  text-align: center;
  border-radius: 20px;
  margin-bottom: 20px;
  width: 450px;
  max-height: 400px;
  place-items: center;
  border: none;
  resize: none;
  height: 300px;
}

.formRows {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 500px; 
  margin: auto;
}
.formInputs {
  font-family: 'Inter', sans-serif;
  padding: 0.75rem;
  margin-bottom: 1rem; 
  border-radius: 20px;
  border: 1px solid #ced4da;
  background-color: #f8f9fa;
  width: calc(100% - 1.5rem); 
  box-sizing: border-box;
}

.submitButtonEntrepenuerRegistration {
  text-align: center;
  font-family: 'Inter', sans-serif;
  background: transparent;
  border: 5px solid #244242;
  border-radius: 20px;
  padding: 2px;
  margin-top: 20px;
  width: 30%;
  cursor: pointer;
  color: #244242;
  font-weight: bold;
}

.submitButtonEntrepenuerRegistration:hover {
  color: #83AF4B;
  border: 5px solid #83AF4B;
  background: transparent;
}