.registrationContainer {
  background: #E4ECE5;
  text-align: center;
  width: 80%;
  height: 100vh;
  margin: 0 auto;
  display: grid;
  place-items: center;
  padding: 2% 10%;
}

.iniciarSesionEntrepreneurRegistration {
  font-family: 'Inter', sans-serif;
  color: #244242;
  margin-bottom: 20px;
  font-size: 2rem;
}

@media (max-width: 992px) {
  .iniciarSesionEntrepreneurRegistration {
    font-size: 1.5rem;
  }
}

@media (max-width: 768px) {
  .iniciarSesionEntrepreneurRegistration {
    font-size: 1.2rem;
  }

  .inputsEntrepreneurRegistration, .taEntrepreneurRegistration {
    width: 100%;
    max-width: 100%;
    padding: 8px;
  }

  .formContainer {
    max-width: 100%;
    padding: 5px;
  }

  .submitButtonEntrepenuerRegistration {
    width: 50%;
    padding: 10px;
  }
}

.inputsEntrepreneurRegistration, .taEntrepreneurRegistration {
  font-family: 'Inter', sans-serif;
  padding: 10px;
  text-align: center;
  border-radius: 20px;
  margin-bottom: 20px;
  width: 100%;
  max-width: 600px;
  border: 2px solid transparent;
}

.inputsEntrepreneurRegistration:focus, .taEntrepreneurRegistration:focus {
  border-color: #83AF4B;
  outline: none;
  box-shadow: 0 0 5px #83AF4B;
}

.submitButtonEntrepenuerRegistration {
  text-align: center;
  font-family: 'Inter', sans-serif;
  background: transparent;
  border: 5px solid #244242;
  border-radius: 20px;
  padding: 2px;
  margin-top: 20px;
  width: 30%;
  cursor: pointer;
  color: #244242;
  font-weight: bold;
  transition: all 0.3s ease;
}

.submitButtonEntrepenuerRegistration:hover {
  color: #83AF4B;
  background: #E4ECE5;
  border: 5px solid #83AF4B;
  transform: translateY(-5px);
}

.logoStyle {
  max-width: 200px;
  max-height: 250px;
  padding-top: 50px;
}

@media (max-width: 768px) {
  .logoStyle {
    max-width: 150px;
    max-height: 200px;
    padding-top: 50px;
  }
}

.highContrast .registrationContainer {
  background: #000; /* Fondo oscuro */
  color: #fff; /* Texto claro */
}

.highContrast .iniciarSesionEntrepreneurRegistration {
  color: #FFD700; /* Un color brillante para títulos, como amarillo dorado */
}

.highContrast .inputsEntrepreneurRegistration, .highContrast .taEntrepreneurRegistration {
  background: #333; /* Fondo más oscuro para inputs */
  color: #fff; /* Texto claro */
  border: 2px solid #FFD700; /* Borde más visible */
}

.highContrast .inputsEntrepreneurRegistration:focus, .highContrast .taEntrepreneurRegistration:focus {
  border-color: #FFA500; /* Un color brillante y diferente para el foco, como naranja */
  box-shadow: 0 0 5px #FFA500; /* Sombra que coincide con el borde en foco */
}

.highContrast .submitButtonEntrepenuerRegistration {
  color: #FFD700; /* Texto en color dorado */
  border-color: #FFD700; /* Borde dorado */
  background: #333; /* Fondo oscuro */
}

.highContrast .submitButtonEntrepenuerRegistration:hover {
  color: #000; /* Texto oscuro cuando se hace hover */
  background: #FFD700; /* Fondo dorado */
  border-color: #000; /* Borde oscuro */
}

.highContrast .logoStyle {
  filter: brightness(0) invert(1); /* Invierte los colores del logo para alto contraste */
}
