.header {
  min-height: 70px;
  background-color: #244242;
  max-height: 100px;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.whiteTextButton, .nav-link {
  color: white;
  background-color: transparent;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: color 0.3s ease;
  display: flex;
  align-items: center;
}

.whiteTextButton:hover, .nav-link:hover {
  color: #2fc07f;
}

.icon, .nav-link svg {
  margin-right: 8px;
}

.custom-nav {
  align-items: center;
}

.dropdown-menu {
  background-color: #244242;
  border: none;
}

.icon {
  height: 50px;
  padding: 5px;
  background-color: #244242;
}

.icon-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #244242;
}
