.footer {
    background-color: #244242; /* Replace with the actual color code from your image */
    padding: 20px 0;
  }
  
.footer_button {
    text-align: center;
    font-family: 'Inter', sans-serif;    
    background-color: transparent; 
    border: 5px solid #83AF4B;
    border-radius: 31px;
    color: #83AF4B; 
    margin: 0 auto;
    font-weight: bold; 
    width: 40%;
}
  

.footer_button:hover {
    color: #E4ECE5;
    border: 5px solid #E4ECE5;
    background-color: #244242;
  }
  /* Add media queries if necessary to handle different screen sizes */
  