.mainContainerClientProfile {
  background: #E4ECE5;
  text-align: center;
  width: 80%;
  padding-top: 100px;
  height: 100vh;
  margin: 0 auto;
  display: grid;
  place-items: center;
}

.ppClientProfile {
  width:50%;
  margin-left: auto;
  margin-right: auto;
}

.cardClientProfile {
  border-radius: 20px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.editButtonClientProfile {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  margin-right: auto;
}
.buttonClientProfile {
  text-align: center;
  font-family: 'Inter', sans-serif;
  background: transparent;
  border: 5px solid #244242;
  border-radius: 20px;
  padding: 2px;
  cursor: pointer;
  color: #244242;
  font-weight: bold;
  margin-top: 15px;
}

.buttonClientProfile:hover {
  color: #83AF4B;
  background: transparent;
  border: 5px solid #83AF4B;
}

.highContrast .mainContainerClientProfile {
  background: #000; 
  color: #FFF; 
}

.highContrast .ppClientProfile {
  border: 3px solid #FFD700; 
}

.highContrast .cardClientProfile {
  background-color: #333; 
  color: #FFF; 
  border: 2px solid #FFD700; 
}

.highContrast .editButtonClientProfile {
  color: #FFD700; 
}

.highContrast .buttonClientProfile {
  background-color: #333; 
  color: #FFD700; 
  border: 5px solid #FFD700; 
}

.highContrast .buttonClientProfile:hover {
  color: #000; 
  background-color: #FFD700; 
  border-color: #000; 
}

