.mainContainerCreateProduct {
    background: #E4ECE5;
    text-align: center;
    width: 80%;
    padding-top: 100px;
    height: 100vh; 
    margin: 0 auto; 
  }

.formLabelCreateProduct {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #244242;
    margin-top: 10px;
}

.descripcionCrearProducto {
    font-family: 'Inter', sans-serif;    
    color: #244242; 
    height: 150px;
    resize: none;
}

.titleCreateProduct{
    margin-top: 70px;
    font-family: 'Inter', sans-serif;    
    color: #244242; 
    font-weight: bold; 
    font-size: 30px;
}

.btnCreateProduct {
    text-align: center;
    font-family: 'Inter', sans-serif;    
    background: transparent;
    border: 5px solid #244242;
    border-radius: 31px;
    color: #244242; 
    font-weight: bold; 
    width: 150px;
}
  
.btnCreateProduct:hover {
    color: #83AF4B;
    border: 5px solid #83AF4B;
    background: transparent;
  }

.ddCreateProduct {
    margin: auto;
    width: 200px;
    background-color: #E4ECE5;
}




