.mainContainerHome {
    background: #E4ECE5;
    text-align: center;
    width: 80%;
    padding-top: 100px;
    height: 100vh; 
    margin: 0 auto; 
  }


.itemContainer {
  display: flex;
  flex-direction: column;
  align-items: center; 
  padding: 16px;
}
.titles {
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  color: #244242;
  margin-bottom: 16px;
  margin-left: 32px;
  margin-top: 30px;
  text-align: left;
}

.imgItemEntrepreneur {
  width: 100px;  /* Tamaño fijo para ancho */
  height: 100px; /* Tamaño fijo para alto */
  object-fit: cover;
  border-radius: 10%; /* Ajusta según la estética deseada */
}

/* Modificación para las imágenes de los productos */
.imgItemHome {
  width: auto;    /* Ancho automático para mantener la proporción */
  max-width: 200px; /* Máximo ancho permitido */
  height: auto;   /* Altura automática para mantener la proporción */
  max-height: 200px; /* Máxima altura permitida */
  object-fit: contain;
  border-radius: 20%; /* Redondez existente */
}

.textItemHome {
  font-family: 'Inter', sans-serif;
  color: #244242;
  font-weight: bold;
  text-align: left;
}


.horizontalScroll {
  display: flex;  
  flex-direction: row; 
  margin: auto;
  max-width: 90%;
  overflow-x: auto; 
  white-space: nowrap;
}

.horizontalScroll > * {
  flex-shrink: 0;  
  min-width: 100px; 
  white-space: normal; 
}