.mainContainerHome {
  background: #E4ECE5;
  text-align: center;
  width: 80%;
  padding-top: 100px;
  min-height: 100vh;
  margin: 0 auto;
  transition: background-color 0.3s ease; /* Smooth transition for any background color change */
}

.itemContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out, box-shadow 0.3s ease-in-out;
}

.itemContainer:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Adds shadow for depth perception on hover */
}

.titles {
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  color: #244242;
  margin-bottom: 16px;
  margin-left: 32px;
  margin-top: 30px;
  text-align: left;
  transition: color 0.2s ease; /* Smooth transition for text color changes */
}

.imgItemEntrepreneur, .imgItemHome {
  width: 100%;
  max-width: 200px;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  transition: opacity 0.3s ease; /* Smooth transition for fade effects */
}

.imgItemEntrepreneur:hover, .imgItemHome:hover {
  opacity: 0.8; /* Slight fade effect on hover to draw attention */
}

.textItemHome {
  font-family: 'Inter', sans-serif;
  color: #244242;
  font-weight: bold;
  text-align: center;
}

.horizontalScroll {
  display: flex;
  flex-direction: row;
  margin: auto;
  max-width: 90%;
  overflow-x: auto;
  padding: 20px 0;
  scrollbar-color: darkgrey #E4ECE5; /* Custom scrollbar colors for modern browsers */
  scrollbar-width: thin; /* Adjust scrollbar width for non-webkit browsers */
}

.horizontalScroll > * {
  flex: 0 0 auto;
  margin-right: 16px;
}

.horizontalScroll::-webkit-scrollbar {
  height: 8px;
}

.horizontalScroll::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .mainContainerHome {
    width: 100%;
    padding-top: 50px;
  }

  .titles {
    margin-left: 16px; /* Smaller left margin for smaller screens */
  }

  .imgItemEntrepreneur, .imgItemHome {
    max-width: 150px; /* Smaller images for smaller screens */
  }
}
